.toMain1{
    border: 1px solid #FF7062;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FF7062;
    padding: 10px 60px 10px 60px;
}

.toMain1:hover{
    border: 1px solid #FF7062;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FF7062;
    padding: 10px 60px 10px 60px;
    text-decoration: none;
    color: #FF7062;
}