html *{
    -webkit-font-smoothing: antialiased;
}

.title h3{
    font-size: 25px !important;
    margin-top: 20px;
    margin-bottom: 25px;
    line-height: 1.4em !important;
    font-weight: 300;
}

h3 {
    font-size: 1.5625rem;
    line-height: 1.4em;
}

small {
    font-size: 75%;
    color: #777;
}

.nav-pills .nav-item .nav-link {
    /* line-height: 24px;
    font-size: 12px;
    font-weight: 500;
    min-width: 100px;
    color: #555; */
    transition: all .3s;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    text-align: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}


.nav-pills:not(.flex-column) .nav-item+.nav-item:not(:first-child) {
    margin-left: 5px;
}

.nav-pills .nav-item .nav-link.active {
    color: #fff;
    border: 2px solid #FF7062;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    background-color: #FF7062;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.2), 0 13px 14px -11px rgba(156,39,176,.6);
}

.nav-pills .nav-item .nav-link:not(.active):hover {
    background-color: #FF7062;
    transition: .2s;
    border-color: #FF7062;
    color: #fff;
}

.nav-pills .nav-item .nav-link:not(.active) {
    transition: .2s;
    background: #FFFFFF;
    border: 2px solid #E3E3E3;
    border-radius: 10px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #5B5B5B;

}

.nav-pills .nav-item i {
    display: block;
    font-size: 18px;
    padding: 15px 0;
}


.nav-pills.flex-column .nav-item+.nav-item {
    margin-top: 5px;
}

.tab-pane{
    font-weight: 300;
}
.tab-space {
    padding: 20px 0 50px;
    font-weight: 300;
}
