.catOwlStyleChil1{
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #5B5B5B;
}

.catOwlStyleChil2{
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #A5A5A5;
}